$primary-color: #f4e041;
$primary-hover-color: #ffe302;
$secondary-color: #00bdd3;
$error-color: #cb3d40;

$background-color: #f8f8f8;
$tooltip-bg-color: rgb(0, 0, 0, 0.87);
$disabled-color: #b4b4b4;
$text-color: #000;
$text-alt-color: #fff;
$placeholder-color: #7e7e7e;
$input-border-color: #d0cfcf;
