@mixin visuallyHidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

@mixin truncateText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  width: 100%;
}
